# Gradle / build
.gradle/
build/
run/
bin/
out/

# IDE
.idea/
*.iml
.vscode/tasks.json
.vscode/launch.json
.eclipse/
.settings/
.classpath
.project

# Compiled / logs / crashes
*.class
*.log
hs_err_pid*
replay_pid*

# Packages
*.war
*.nar
*.ear
